.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 95vw;
  margin: 0rem auto;
  color: #fff;
  position: relative;

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    display: block;
    max-width: 100%;
    width: 30px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
  }

  button {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-self: end;
    border: none;
    border-radius: 4px;
    background: #fff;
    padding: 5px 15px;
    font-size: 1.15rem;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
    }
  }
  .header-desc {
    font-size: 0.8rem;
  }

  .header-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .star {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.menu {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  margin: 1rem 0;
  z-index: 100;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background: #212121;
  font-size: 1.5rem;
  gap: 15px;
  position: absolute;
  top: 0;
  width: 100dvw;
  height: 200svh;
  z-index: 99;
  overflow-y: auto;

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid ed;
    a {
      display: flex;
      gap: 10px;
      position: relative;
    }
    .star {
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      /* border: 1px solid red; */
      left: -30px;
      bottom: 6px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 90vw;
    margin-top: 2rem;
    /* border: 1px solid red; */
    button {
      display: flex;
    }

    .header-info {
      p {
        font-size: 1.15rem;
      }
      .star {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .header .title {
    grid-column: 2 / 3;
    justify-self: center;
    font-size: 2rem;
    /* border: 1px solid red; */
    margin-top: 0;
  }

  .header div {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .header button {
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
    font-size: 1.15rem;
  }

  .header div .star {
    width: 35px;
    height: 35px;
  }

  .menu {
    display: none;
  }
}
