@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "NATS";
  src: url("./src/assets/fonts/NATS-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #212121;
  min-height: 100vh;
}
